.spinner {
  font-family: Roboto, sans-serif;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 75px;
  color: darkblue;
}
