@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

.field {
  font-size: 75px;
  @include for-phone-only {
    font-size: 25px;
  }

  @include for-tablet-portrait-up {
    font-size: 45px;
  }

  @include for-tablet-landscape-up {
    font-size: 45px;
  }

  display: inline-block;
  border-bottom: 1.5px solid orange;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

  > div {
    margin-left: 25px;
    > svg {
      @include for-phone-only {
        position: absolute;
        margin-left: 2px;
      }
      fill: grey;
      transition: fill 0.2s ease-in-out;
    }

    &:focus-within {
      > svg {
        fill: darkblue;
      }

      > input {
        color: darkblue;
      }
    }

    > input {
      margin-left: 22px;
      @include for-phone-only {
        margin-left: 52px;
      }
      outline: none;
      background-color: transparent;
      border: none;
      color: #424242;
      transition: color 0.2s ease-in-out;
    }
  }
}
