name: CI
on: [push]
jobs:
  run-jest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run tests
      run: yarn test
      
  run-cypress:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cypress run
      uses: cypress-io/github-action@v2
      with:
        start: npm start
        wait-on: 'http://localhost:3000'
